.sumbit-form__text-field {
  margin-right: 10px;
}

.sumbit-form__sumbit, .customer input {
  color: #FFFFFF;
  background-color: #02dbc4;
  border-radius: 20px;
  padding: 5px 15px;
}

.sumbit-form__sumbit:hover, .customer input:hover {
  background-color: #00887A;
}

.sumbit-form__text-field,
.sumbit-form__sumbit {
  font-size: 1em;
}
