.App {
  text-align: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.nav ul li {
  list-style: none;
  margin-right: 2em;
  color: #00887A;
}

*:focus {
  outline:none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 5%;
}

h1 {
  font-size: 3.5em;
}
